<!-- templates/header.html -->
<header class="bg-black text-white py-4 border-gray-500" style="border-bottom-width: 1px;">
    <div class="container mx-auto flex justify-between items-center px-4">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="JungleHub Logo" class="h-8 w-8 mr-2">
            <span class="text-green-500 text-xl font-bold">JungleHub</span>
        </div>
        <!-- Login/Signup -->
        <div>
            <a href="#" class="text-green-500 hover:underline font-bold">로그인</a>
            <span class="mx-2">|</span>
            <a href="#" class="text-green-500 hover:underline font-bold">회원가입</a>
        </div>
    </div>
</header>