<header class="bg-black text-white pt-5 py-5 border-gray-500" style="border-bottom-width: 1px; width: 100%;">
    <div class="container mx-auto flex justify-between items-center px-4">
        <!-- Logo -->
        <div class="flex items-center">
            <!-- 이미지 크기를 키움: h-12 w-12 -->
            <img href="#" src="{{ url_for('static', filename='images/Logo.png') }}" alt="JungleHub Logo"
                class="h-12 w-12 mr-2">
            <!-- 폰트 크기와 굵기를 키움: text-2xl -->
            <a href="/main" class="text-green-500 text-2xl font-bold">JungleHub</a>
        </div>
        <!-- Login/Signup -->
        <div id="auth-links">
            <!-- 프로필 링크: 처음엔 보이지 않음 -->
            <a href="/profile" id="profile-link" class="text-green-500 hover:underline font-bold text-lg"
                style="display: none;">프로필</a>
            <!-- 기여하기 링크: 처음엔 보임 -->
            <a href="/signup/redirect" id="contribute-link"
                class="text-green-500 hover:underline font-bold text-lg">기여하기</a>
        </div>
    </div>
</header>

<script>
    window.onload = function () {
        // 로컬 스토리지에서 토큰 가져오기
        let localToken = localStorage.getItem('key');

        // "기여하기"와 "프로필" 링크 요소 가져오기
        const contributeLink = document.getElementById('contribute-link');
        const profileLink = document.getElementById('profile-link');

        // 토큰이 있을 때
        if (localToken && localToken !== '') {
            // "기여하기" 링크 숨기기
            contributeLink.style.display = 'none';
            // "프로필" 링크 보이기
            profileLink.style.display = 'block';
        } else {
            // 토큰이 없을 때 "기여하기" 링크만 보이고 "프로필"은 숨김
            contributeLink.style.display = 'block';
            profileLink.style.display = 'none';
        }
    };
</script>