<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JungleHub</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image.png" href="../static/images/Logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <style>
        @font-face {
            font-family: "Orbit-Regular";
            src: url("../static/fonts/Orbit-Regular.ttf");
        }

        body {
            font-family: "Orbit-Regular";
        }
    </style>
    <script>
        window.onload = function () {
            const token = localStorage.getItem('key');
            console.log(token);
            loadProfile();
        }

        function loadProfile() {
            const token = localStorage.getItem('key');

            if (!token) {
                alert('로그인이 필요합니다.');
                return;
            }

            $.ajax({
                url: '/profile/info',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (user) {
                    $('.profile-container').html(`
                    <img src="${user.pic_url}" alt="Profile Picture" class="w-56 h-56 rounded-full object-cover mx-auto mb-8">
                    <div class="text-2xl mb-6 text-green-500 sm:text-3xl md:text-4xl">기수: ${user.generation}기 | 번호: ${user.num}번</div>
                    <div class="text-4xl font-bold mb-10 text-white sm:text-5xl md:text-6xl">${user.name}</div>
                    <div class="flex justify-center text-green-500 mb-4 font-semibold">
                        <span class="like-count text-3xl sm:text-4xl mr-5">Likes: ${user.like}</span>
                        <button class="bg-green-500 text-white py-3 px-5 rounded-lg sm:py-4 sm:px-6 ml-5 text-lg sm:text-xl" onclick="likeModifi()">좋아요</button>
                    </div>
                    <div class="mb-6">
                        <a href="${user.git}" target="_blank" class="hover:underline text-green-500 hover:text-green-400 text-2xl sm:text-3xl">GitHub Profile</a>
                    </div>
                    `);
                },
                error: function (xhr, status, error) {
                    console.error('프로필 정보를 불러오는 중 오류:', error);
                }
            });
        }

        async function likeModifi() {
            const token = localStorage.getItem('key');

            if (!token) {
                alert('로그인이 필요합니다.');
                return;
            }

            try {
                const response = await fetch('/profile/like', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token
                    }
                });

                if (response.ok) {
                    const result = await response.json();
                    document.querySelector('.like-count').innerText = result;
                } else {
                    alert('좋아요 실패했습니다.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('서버와의 통신 중 오류가 발생했습니다.');
            }
        }
    </script>
</head>

<body class="bg-black text-white min-h-screen">
    {% include 'loginedHeader.html' %}
    <div class="profile-container text-center mt-20 mb-20 flex flex-col justify-center items-center">
    </div>
    {% include 'footer.html' %}
</body>

</html>